<%- include('partials/header', { titulo: titulo }) %>
<%- include('partials/navbar') %>

<div class="container mt-5">

    <div class="card shadow-sm p-4">

        <h1 class="text-primary">Contacto</h1>

        <p><strong>Dirección:</strong> Saltillo, Coahuila.</p>

        <p><strong>Teléfono:</strong> (844) 123-4567</p>

        <p><strong>Correo:</strong> contacto@rayitodesol.com</p>

        <p><strong>Horario:</strong> Lunes a Viernes de 9:00 a 18:00 hrs.</p>

    </div>

</div>

<%- include('partials/footer') %>