<%- include('partials/header', { titulo: titulo }) %>
<%- include('partials/navbar') %>

<div class="container mt-5">

    <div class="card shadow-sm p-4">

        <h1 class="text-primary">Mapa del Sitio</h1>
        <h4>Área Libre</h4>

        <ul>
            <li>Inicio</li>
            <li>Nosotros</li>
            <li>Servicios</li>
            <li>Especialistas</li>
            <li>Contacto</li>
            <li>Ayuda</li>
            <li>Registro</li>
            <li>Login</li>
            <li>Recuperar Contraseña</li>
        </ul>

        <h4>Área Privada</h4>

        <ul>
            <li>Perfil</li>
            <li>Buzón</li>
            <li>Chat</li>
        </ul>

    </div>

</div>

<%- include('partials/footer') %>